{% extends "@EasyAdmin/page/content.html.twig" %}
{% block page_title  %}
<h1>Bienvenue sur le site
{% endblock %}
{% block main %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dignissimos ea error ex libero maiores necessitatibus, nostrum, perspiciatis quasi quis rerum totam. Accusamus ad alias, aperiam deserunt dicta eos facere id, in incidunt, inventore ipsa magnam numquam omnis placeat quo quos saepe sint soluta sunt suscipit temporibus voluptate voluptatum.
</p>
{% endblock %}